
body,html{
    padding: 0;
    margin: 0;
    background: black;
}
.no-display{
    display: none;
}
.center{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

}
.canvas{
    margin: 0 auto;
    width: 48rem;
    overflow: hidden;
    z-index: 99;
}
